body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    /*padding: 10px;*/
    color: #333;
}

#sort-methods {
    display: inline;
    float: right;
}

#front-dashboard-container {
    /*border: 1px solid black;*/
    /*height:auto;*/
}

#front-dashboard-container h3 {
    color: #4874A5;
    margin: 0px 0px 15px 0px;
}

#front-dashboard-container a {
    text-decoration: none;
}

#front-leg-charts-container {
    padding: 0px 20px;
}

#front-house-daily {
    /*border: 1px solid black;*/
    width: 250px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

#front-townhalls {
    /*border: 1px solid black;*/
    width: 200px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

#current-bills {
    /*border: 1px solid black;*/
    width: 330px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

.front-item-container{
    margin: 10px 0px 10px 0px;
}

.front-item-box {
    display: inline-block;
    height: 35px; /*Specify Height*/
    width:  50px; /*Specify Width*/
    border: 1px solid #2E3041; /*Add 1px solid border, use any color you want*/
    background-color: #2E3041; /*Add a background color to the box*/
    text-align:center;
    vertical-align:top;
    padding: 0px 0px 0px 0px;
}

.front-item-box a {
    color:#FFFFFF;
    /*text-decoration: none;*/
    vertical-align:middle;
}

.front-item-text {
    display: inline-block;
    width:  75%;
    margin: 0px 0px 0px 5px;
}

.breadcrumb {
    font-size: .85em;
}

.upper-login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    display:inline;
}

.upper-login-user{
    display:inline;
    float:right;
}

.upper-login-link {
    color: gray;
    text-decoration: none;
}

.upper-login-link:visited {
    color: gray;
}

.upper-login-link:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    color: #222;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

.error {
    color:red;
}

#header {
    height: 50px;
    background-color: #2E3041;
}

#content {
    /*display: block;*/
    /*width: 800px;*/
    margin: 15px 0px 0px 0px;
    /*border: 1px solid black;*/
}

#main-title {
    display: inline-block;
    /*float: left;*/
    color: #FFFFFF;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px 0px 10px;
    text-decoration: none;
}

#main-title a {
    text-decoration: none;
    color:#FFFFFF;
}

#tagline {
    display: inline-block;
    color: #A0C3E9;
    font-size: 1em;
    margin: 0px 5px 0px 5px;
    /*margin: 15px 5px 0px 10px;*/
    text-decoration: none;
}

#menu-bar {
    display: inline-block;
    /*float: right;*/
    margin: 0px 5px 0px 40px;
} 

#menu-bar a {
    text-decoration: none;
    color: #FFFFFF;
} 

.menu-item {
    margin: 0px 7px 0px 7px;
    text-align: center;
    font-weight: bold;
    font-size: .85em;
    color: #FFFFFF;
}

.menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}

#sub-menu-bar {
    text-align: center;
}

#upper-feedback-link a {
    font-size: .80em;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    display:inline;
    text-decoration: none;
}

.front-page-links {
    font-size: 1.2em;    
}

.explaination-text {
    font-size: .80em;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   width:360px;
   -webkit-column-count: 6;
   -webkit-column-gap:   0px;
   -moz-column-count:    6;
   -moz-column-gap:      0px;
   column-count:         6;
   column-gap:           0px;
   
}

#photos img {
  /* Just in case there are inline attributes */
  width: 60px !important;
  height: auto !important;
}

