body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    color: #333;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#sort-methods {
    display: inline;
    float: right;
}

/******************************************************************
*******************************************************************
************************  Front page  *************************
*******************************************************************
******************************************************************/

#front-dashboard-container {
    
}

#front-dashboard-container h3 {
    color: #4874A5;
    margin: 0px 0px 15px 0px;
}

#front-dashboard-container a {
    text-decoration: none;
}

#front-house-daily {
    width: 250px;
    display: block;
    vertical-align:top;
    padding: 10px;
}

#twitter-feeds {
    width: 250px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

#front-townhalls {
    width: 200px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

#current-bills {
    width: 330px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
}

#front-bill-counts {
    width: 140px;
    display: inline-block;
    vertical-align:top;
    padding: 10px 5px 0px 5px;
}

#front-bill-counts a {
    text-decoration: none;
    color: #000000;
}

.front-item-container{
    margin: 10px 0px 10px 0px;
}

.front-item-box {
    display: inline-block;
    height: 35px;
    width:  50px;
    border: 1px solid #2E3041;
    background-color: #2E3041;
    text-align:center;
    vertical-align:top;
    padding: 0px 0px 0px 0px;
}

.front-item-box a {
    color:#FFFFFF;
    vertical-align:middle;
}

.front-item-text {
    display: inline-block;
    width:  75%;
    margin: 0px 0px 0px 5px;
}

.bill-summery-container{
    margin: 10px 0px 10px 0px;
}

.bill-summery-box {
    display: inline-block;
    height: 35px;
    width:  50px;
    border: 1px solid #2E3041;
    background-color: #2E3041;
    text-align:center;
    vertical-align:top;
    padding: 0px 0px 0px 0px;
}

.bill-summery-box a {
    color:#FFFFFF;
    text-decoration: none;
    vertical-align:middle;
}

.bill-summery-text {
    display: inline-block;
    width:  75%;
    margin: 0px 0px 0px 5px;
}

.small-leg-element {
    width: 100%;
    display: block;
}

.small-leg-element a {
    display: inline;
    text-decoration: none;
}

.small-leg-element img {
    display: inline;
    width:25px;
}

.small-leg-element-name-gop {
    display: inline;
    color:#FF0000;
}

.small-leg-element-name-dfl {
    display: inline;
    color:#0000FF;
}

.small-leg-element-name-data {
    display: inline;
}

/*.breadcrumb {
    font-size: .85em;
}*/

.upper-login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    display:inline;
}

.upper-login-user{
    display:inline;
    float:right;
}

.upper-login-link {
    color: gray;
    text-decoration: none;
}

.upper-login-link:visited {
    color: gray;
}

.upper-login-link:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    color: #222;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

.error {
    color:red;
}

#header {
    height: 50px;
    background-color: #2E3041;
}

#content {
    margin: 15px 0px 0px 0px;
}

#main-title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px 0px 10px;
    text-decoration: none;
}

#main-title a {
    text-decoration: none;
    color:#FFFFFF;
}

#tagline {
    display: inline-block;
    color: #A0C3E9;
    font-size: 14px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
}

#menu-bar {
    display: inline;
    margin: 0px 7px 0px 15px;
} 

#menu-bar a {
    text-decoration: none;
    color: #FFFFFF;
} 

.menu-item {
    margin: 0px 6px 0px 6px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}

#sub-menu-bar {
    text-align: center;
}

#upper-feedback-link a {
    font-size: .80em;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    display:inline;
    text-decoration: none;
}

.front-page-links {
    font-size: 1.2em;    
}

.explaination-text {
    font-size: .80em;
}

/******************************************************************
*******************************************************************
************************  Districts page  *************************
*******************************************************************
******************************************************************/

#districts-page-selection-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.districts-page-selection-container-element {
  display: inline-block;
  float: left;
  height: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.districts-page-selection-container-selector {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#member-breakdowns {
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}

#member-breakdowns a {
    text-decoration: none;
}

.senate-breakdown {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    width: 240px;
    line-height:50%
}

.house-breakdown {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 470px;
    line-height:50%
}

.dfl-member {
    display: inline-block;
    height: 5px; 
    width:  3px;
    border: 1px solid #0000FF; 
    background-color: #0000FF; 
    margin: 1px;
    padding: 0px;
}

.gop-member {
    display: inline-block;
    height: 5px;
    width:  3px; 
    border: 1px solid #FF0000;
    background-color: #FF0000;
    margin: 1px;
    padding: 0px;
}

#districts-page-graphs-container {
  width: 85%;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

#districts-page-graphs-container h3 {
  margin-bottom: 0px;
}

#sen-pie-container {
  display:block;
  width:125px;
  float: right;
}

#sen-pie-container-title {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#sen-pie-container-pie {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

#house-pie-container {
  display:block;
  width:125px;
  float: right;
}

#house-pie-container-title {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

#house-pie-container-pie {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

#sen-district-hpvi-graph {
  display:inline-block;
}

#house-district-hpvi-graph {
  display:inline-block;
}

/******************************************************************
*******************************************************************
***************************  District  ****************************
*******************************************************************
******************************************************************/

#district-demo {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 25px 0px 25px 0px;
  /*width: 480px;*/
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #69c;
}

#district-demo th {
  padding: 15px 10px 10px 10px;
  font-weight: normal;
  font-size: 14px;
  color: #039;
}

#district-demo tbody {
  background: #e8edff;
}

#district-demo td {
  padding: 10px;
  color: #669;
  border-top: 1px dashed #fff;
}

#district-demo tbody tr:hover td {
  color: #339;
  background: #d0dafd;
}


/******************************************************************
*******************************************************************
****************************  Photos  *****************************
*******************************************************************
******************************************************************/

#photos {
   line-height: 0;
   width:360px;
   -webkit-column-count: 6;
   -webkit-column-gap:   0px;
   -moz-column-count:    6;
   -moz-column-gap:      0px;
   column-count:         6;
   column-gap:           0px;
   
}

#photos img {
  width: 60px !important;
  height: auto !important;
}

/******************************************************************
*******************************************************************
*************************  Breadcrumbs  ***************************
*******************************************************************
******************************************************************/

#breadcrumbs-one{
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
  background: #fff;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #fff;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}