<!DOCTYPE html>
<html>
<head>
  <title>MN Leg Info</title>
  	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type='text/javascript' src="/js/google-charts.js"></script>
	<script>
		$(function() {
		    $( "#bills-tabs" ).tabs();
		});
		$(function() {
		    $( "#leg-tabs" ).tabs();
		});
		$(function() {
		    $( "#district-tabs" ).tabs();
		});
		$(function() {
		    $( "#committee-tabs" ).tabs();
		});
  	</script>
    
    {% if district_map %}
    
    {% endif %}

{% if district_map %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <style type="text/css">
      html, body {
        height: 100%;
        /*margin: 0;
        padding: 0;*/
      }

      #map_canvas {
        height: 100%;
      }

      @media print {
        html, body {
          height: auto;
        }

        #map_canvas {
          height: 650px;
        }
      }
    </style>
</head>

<body  onload="initialize()">
{% else %}
</head>
<body>
{% endif %}
  {% include 'header.html' %}
    
  {% block content %}
  {% endblock %}

  {% include 'footer.html' %}

</body>

</html>

