{% extends "base.html" %}

{% block content %}
<script type='text/javascript' src="/js/google-charts.js"></script>
<div id='front-dashboard-container'>

	<div id='current-bills'>
		<h3>Recently Updated Bills</h3>
		{% if current_bills %}{% for b in current_bills %}
			<div class="front-item-container"><div class="front-item-box">
			<a href="/bills/{{b.session}}/{{b.bill_id}}">{{b.bill_id[:2]}}<br><span style="font-weight:bold;">{{b.bill_id[3:]}}</span></a></div>
			<div class="front-item-text">{{b.title}}</div></div>
		{% endfor %}{% endif %}
	</div>

	<div id='front-house-daily'>
		<h3>Session Daily</h3>
		{% if house_daily_items %}{% for i in house_daily_items %}
			<div class="front-item-container"><div class="front-item-box">
			<a href="{{i.link}} target="_blank"">{{i.published[:3]}}<br><span style="font-weight:bold;">{{i.published[5:7]}}</a></div>
			<div class="front-item-text">{{i.title}}</div></div>
		{% endfor %}{% endif %}
	</div>

</div>
{% endblock %}



