	<div id="top-bar">
		<div class="upper-login-area">
	      {% if loggedin_user %}
	          <div class="upper-login-user">{{loggedin_user}} (<a href="/logout">logout</a>)
	          </div>
	      {% else %}
	          <div class="upper-login-user"><a href="/login">login</a> | <a href="/signup">signup</a></div>
	      {% endif %}
	    </div>
    </div>
    <div id="header">
    	<div id="main-title"><a href="/">Minnesota Legislature Info</a></div>
    	{% if loggedin_user %}
			<div id="menu-bar">
			    <a href="/bills/2013-2014">Bills</a> | 
			    <a href="/legislators">Legislators</a> | 
			    <a href="/districts">Districts</a> |
			    <a href="/committees">Committees</a> |
			    <a href="/events">Events</a>
			</div>
		{% endif %}
		<br><br>
    </div>
