{% extends "base.html" %}

{% block content %}

<div class='breadcrumb'><a href='/bills'>bills</a> > <a href="/bills/{{bill_info.session}}">{{bill_info.session}}</a> > {{bill_info.bill_id}}</div>

<h2>{{bill_info.bill_id}} - {{bill_info.title}}</h2>
<br>
<table><tr><td valign='top' width="400px">
<a href="{{bill_info.versions[-1].url}}" target="_blank">Link to current bill text</a>
<br><br>
<strong>Updated:</strong> {{bill_info.updated_at[:10]}}<br>

{% if bill_info.action_dates['passed_lower'] %}
	<strong>Passed House:</strong> {{bill_info.action_dates['passed_lower'][:10]}}<br>
{% endif %}
{% if bill_info.action_dates['passed_upper'] %}
	<strong>Passed Senate:</strong> {{bill_info.action_dates['passed_upper'][:10]}}<br>
{% endif %}
{% if bill_info.action_dates['signed'] %}
	<strong>Signed:</strong> {{bill_info.action_dates['signed'][:10]}}<br>
{% endif %}
<br>
<strong>Actions:</strong> <br>

<ul>
{% for a in bill_info.actions %}

<li>{{a.action}} <em>({{a.date[:10]}})</em></li>

{% endfor %}
</ul>
<h4>Sponsors</h4>
{% for s in bill_info.sponsors %}
	<a href="/legislators/{{s.leg_id}}">{{s.name}}</a> - {{s.type}}
	<br>
{% endfor %}
</td><td valign='top' width="400px">
{% autoescape false %}
	{{bill_text}}
{% endautoescape %}
</td></tr></table>
{% endblock %}
