{% extends "base.html" %}

{% block content %}

<h2>Minnesota State Legislators</h2>

<div id="leg-tabs">
  <ul>
    <li><a href="#leg-tabs-1">Senate</a></li>
    <li><a href="#leg-tabs-2">House</a></li>
  </ul>
  <div id="leg-tabs-1">
    <p>
    	<table><tr><td><h3>Democrats</h3></td><td><h3>Republicans</h3></td></tr>
    	<tr><td width="400px">
    	{% for l in legislators %}
		
		{% if l.chamber=='upper' and l.party[0]=='D' %}
			<a href='/legislators/{{l.id}}'> {{l.first_name}} {{l.last_name}}</a> ({{l.party[0]}}-{{l.district}})
			<br>
		{% endif %}
		{% endfor %}
		</td><td width="400px" valign='top'>
		{% for l in legislators %}
		
		{% if l.chamber=='upper' and l.party[0]=='R' %}
			<a href='/legislators/{{l.id}}'> {{l.first_name}} {{l.last_name}}</a> ({{l.party[0]}}-{{l.district}})
			<br>
		{% endif %}
		{% endfor %}
		</td></tr></table>
	</p>
  </div>
  <div id="leg-tabs-2">
    <p>
    	<table><tr><td><h3>Democrats</h3></td><td><h3>Republicans</h3></td></tr>
    	<tr><td width="400px">
    	{% for l in legislators %}
		
		{% if l.chamber=='lower' and l.party[0]=='D' %}
			<a href='/legislators/{{l.id}}'>{{l.first_name}} {{l.last_name}}</a> ({{l.party[0]}}-{{l.district}})
			<br>
		{% endif %}
		{% endfor %}
		</td><td width="400px" valign='top'>
		{% for l in legislators %}
		
		{% if l.chamber=='lower' and l.party[0]=='R' %}
			<a href='/legislators/{{l.id}}'>{{l.first_name}} {{l.last_name}}</a> ({{l.party[0]}}-{{l.district}})
			<br>
		{% endif %}
		{% endfor %}
		</td></tr></table>
    </p>
  </div>
</div>

{% endblock %}
