{% extends "base.html" %}

{% block content %}

<div class='breadcrumb'><a href='/legislators{% if legislator.chamber=='lower' %}?q=house{% endif %}'>legislators</a> > {{legislator.first_name}} {{legislator.last_name}}</div>

<h2>
	{% if legislator.active %}
		{% if legislator.chamber=='lower' %}
		Representative 
		{% else %}
		Senator 
		{% endif %}
	{% endif %}
	{{legislator.first_name}} {% if legislator.nickname %}"{{legislator.nickname}}"{% endif %} {{legislator.last_name}}
</h2>
<table width="800px">
	<tr><td>
		{% if legislator.chamber=='lower' %}
			<img width="200px" src='http://d3tg302iyp0q7r.cloudfront.net/leg/{{legislator.leg_id}}.jpg'>
		{% else %}
			<img src='http://d3tg302iyp0q7r.cloudfront.net/leg/{{legislator.leg_id}}.jpg'>
		{% endif %}
	</td><td>
<strong>{{legislator.party}}</strong><br><br>
{% if legislator.district %}
<strong>District:</strong> <a href="/districts/{{boundary_id}}">{{legislator.district}}</a><br><br>
{% endif %}
{% if legislator.email %}
	<strong>Email:</strong>{{legislator.email}}<br><br>
{% endif %}
{% if legislator.office_phone %}
	<strong>Office phone:</strong> {{legislator.office_phone}}<br><br>
{% endif %}
{% if legislator.chamber=='lower' %}
<strong>Committees:</strong>
	{% for c in legislator.roles %}
		<a href="/committees/{{c.committee_id}}">{{c.committee}}</a>
		{% if c.position and c.position!="member" %}
			- <em>{{c.position}}</em>
		{% endif %}
		<br>
	{% endfor %}
{% endif %}
</td></tr></table>
<br>
<strong>Bills authored/co-authored</strong>
<dl>
	{% for b in bills %}
			<dt><a href="/bills/{{b.session}}/{{b.bill_id}}">{{b.bill_id}}</a></dt>
			<dd>{{b.title}}</dd>
	{% endfor %}
</dl>

{% endblock %}
