{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

    var map;
    var infoWindow;

    function initialize() {
        var myLatLng=new google.maps.LatLng({{lat}}, {{lon}});
        var sw=new google.maps.LatLng({{sw_lat}}, {{sw_lon}});
        var ne=new google.maps.LatLng({{ne_lat}}, {{ne_lon}});
        var GLOBE_WIDTH = 256; // a constant in Google's map projection
		    var west = sw.lng();
  		  var east = ne.lng();
  		  var angle = east - west;
  		  if (angle < 0) {
  		    angle += 360;
  		  }
    		var zoom = Math.round(Math.log(800 * 360 / angle / GLOBE_WIDTH) / Math.LN2);

        var mapOptions = {
          zoom: zoom-1,
          maxZoom: 15,
          minZoom: 6,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        var district;

        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        var districtCoords = [
          {% for c in coords %}
          	new google.maps.LatLng({{c[0]}}, {{c[1]}}),
          {% endfor %}
        ];

        {% if party[0]=="D" %}
        	var color='#0000FF';
        {% else %}
        	var color='#FF0000';
        {% endif %}

        district = new google.maps.Polygon({
          paths: districtCoords,
          strokeColor: color,
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: color,
          fillOpacity: 0.35
        });

        district.setMap(map);

        // Add a listener for the click event
        google.maps.event.addListener(district, 'click', showInfo);
       
        infowindow = new google.maps.InfoWindow();
      }

      function showInfo(event) {

        var contentString = ('<table><tr><td><img width="80px" src="{{img_url}}"></td><td><b>{% if chamber=="lower" %}House District {{district_num}}</b><br>Representative {% else %}Senate District {{district_num}}</b><br>Senator {% endif %}<a href="/legislators/{{leg_id}}">{{leg_first}} {{leg_last}}</a><br>{{party}}</td></tr></table>');

        // Replace our Info Window's content and position
        infowindow.setContent(contentString);
        infowindow.setPosition(event.latLng);

        infowindow.open(map);
      }


    </script>

<div class='breadcrumb'><a href='/districts'>districts</a> > {{district.name}}</div>

<h2>{% if district.chamber=='upper' %}
		Senate District
	{% else %}
		House District
	{% endif %}
	{{district.name}}
</h2>
click district for details<br><br>
<div id="map_canvas" style="width:800px;height:500px;"></div><br>
ne: {{ne_lat}},{{ne_lon}} sw: {{sw_lat}}, {{sw_lon}}

{% endblock %}
