{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

    var map;
    var infoWindow;

    function initialize() {
        var myLatLng=new google.maps.LatLng({{data.region.center_lat}}, {{data.region.center_lon}});
        var sw=new google.maps.LatLng({{data.bbox[0][0]}}, {{data.bbox[0][1]}});
        var ne=new google.maps.LatLng({{data.bbox[1][0]}}, {{data.bbox[1][1]}});
        var GLOBE_WIDTH = 256; // a constant in Google's map projection
		    var west = sw.lng();
  		  var east = ne.lng();
  		  var angle = east - west;
  		  if (angle < 0) {
  		    angle += 360;
  		  }
    		var zoom = Math.round(Math.log(800 * 360 / angle / GLOBE_WIDTH) / Math.LN2);

        var mapOptions = {
          zoom: zoom-1,
          maxZoom: 15,
          minZoom: 6,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        var district;

        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        var districtCoords = [
          {% for c in data.shape[0][0] %}
          	new google.maps.LatLng({{c[0]}}, {{c[1]}}),
          {% endfor %}
        ];

        {% if data.legislator[0].party[0]=="D" %}
        	var color='#0000FF';
        {% else %}
        	var color='#FF0000';
        {% endif %}

        district = new google.maps.Polygon({
          paths: districtCoords,
          strokeColor: color,
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: color,
          fillOpacity: 0.35
        });

        district.setMap(map);

        // Add a listener for the click event
        google.maps.event.addListener(district, 'click', showInfo);
       
        infowindow = new google.maps.InfoWindow();
      }

      function showInfo(event) {

        var contentString = ('<table><tr><td><img width="80px" src="{{data.legislator[0].photo_url}}"></td><td><b>{% if data.legislator[0].chamber=="lower" %}House District {{data.name}}</b><br>Representative {% else %}Senate District {{data.name}}</b><br>Senator {% endif %}<a href="/legislators/{{data.legislator[0].leg_id}}">{{data.legislator[0].first_name}} {{data.legislator[0].last_name}}</a><br>{{data.legislator[0].party}}</td></tr></table>');

        // Replace our Info Window's content and position
        infowindow.setContent(contentString);
        infowindow.setPosition(event.latLng);

        infowindow.open(map);
      }


    </script>

<div class='breadcrumb'><a href='/districts'>districts</a> > {{data.name}}</div>

<h2>{% if data.chamber=='upper' %}
		Senate District
	{% else %}
		House District
	{% endif %}
	{{data.name}}
</h2>
click district for details<br><br>
<div id="map_canvas" style="width:800px;height:500px;"></div><br>
ne: {{data.bbox[1][0]}},{{data.bbox[1][1]}} sw: {{data.bbox[0][0]}}, {{data.bbox[0][1]}}

{% endblock %}
