{% extends "base.html" %}

{% block content %}

<table><tr><td width="400" valign="top">
<h2>Bill Search</h2>
<br>
<form method="post">
search by keyword<br><br>
	<input size="30" placeholder="(ex. Vikings Stadium)" name="keyword" value="{{keyword}}" pattern="([a-zA-Z0-9 ]+)">
<br><br>
<input type="submit" name='submit' value="Search by Keyword">
<br><br>
or search by bill<br><br>
<input size="10" placeholder="(ex. SF 1)" name="bill" value="{{bill}}" pattern="([Ss|Hh][A-Za-z] [0-9]+)"> 
<select name='session'>
	{% for s in sessions %}
	 	<option value="{{s}}">{{details[s]['display_name']}}</option>
	{% endfor %}
</select><br><br>
<input type="submit" name='submit' value="Search by Bill">
<br><br>
or search by legislator<br><br>
	 <input placeholder="(autocomplete field)" id="legs" name='leg' />
	
	<br><br>
	<input type="submit" name='submit' value="Search by Legislator">
</form>
<br>
</td><td width="400" valign="top">
<h2>Bulk Session Search</h2>
<br>Search all bill for a session

<ul id="sessions-list">
	{% for s in sessions %}
	    <li><a href="/bills/{{s}}">{{details[s]['display_name']}}</a></li>
	{% endfor %}

</ul>
</td></tr></table>

{% endblock %}
