{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
<ul id="breadcrumbs-one">
    <li><a href="" class="current">Minnesota Legislative Districts</a></li>
</ul>

<div id='districts-page-selection-container'>
<div class='districts-page-selection-container-element'>
	<h3>Complete Maps</h3>
	<a href="/districts/senate">Complete Senate Map</a><br>
	<a href="/districts/house">Complete House Map</a><br>
	<em>these maps can take a minute to load</em>
</div>
<div class='districts-page-selection-container-element'>
	<h3>Select a Senate District</h3><div class='districts-page-selection-container-selector'><form method="post"><select name="districts">{% for d in districts %}{% if d.chamber=='upper' %}<option value="{{d.boundary_id}}">{{d.name}}</option>{% endif%}{% endfor %}</select>
	<input type="submit" value="Select"></form></div>
</div>
<div class='districts-page-selection-container-element'>
	<h3>Select a House District</h3><div class='districts-page-selection-container-selector'><form method="post"><select name="districts">{% for d in districts %}{% if d.chamber=='lower' %}<option value="{{d.boundary_id}}">{{d.name}}</option>{% endif%}{% endfor %}</select>
	<input type="submit" value="Select"></form></div>
</div>
</div>
<div id='member-breakdowns'>
	<div class='senate-breakdown'>
		<a href='/legislators?q=senate'><h3>Senate Membership</h3></a>
		{% for n in range(senate[0]) %}<div class='dfl-member'></div>{% endfor %}{% for n in range(senate[1]) %}<div class='gop-member'></div>{% endfor %}
	</div>
	<div class='house-breakdown'>
		<a href='/legislators?q=house'><h3>House Membership</h3></a>
		{% for n in range(house[0]) %}<div class='dfl-member'></div>{% endfor %}{% for n in range(house[1]) %}<div class='gop-member'></div>{% endfor %}
	</div>
</div>
<div id='districts-page-graphs-container'>
<div id="sen-district-hpvi-graph"><h3>Senate hPVI</h3>
<span id='sen_hpvi'></span></div>
<div id='house-pie-container'><div id='house-pie-container-title'><h3>Represenatives</h3></div><div id='house-pie-container-pie'><span id='house_pie'></span></div></div>
<div id='sen-pie-container'><div id='sen-pie-container-title'><h3>Senators</h3></div><div id='house-pie-container-pie'><span id='sen_pie'></span></div></div>

<div id="house-district-hpvi-graph"><h3>House hPVI</h3>
<span id='house_hpvi'></span></div></div>

<script type="text/javascript">
	$("#sen_hpvi").sparkline({{sen_hpvi}}, {
	    type: 'bar',
	    height: '75px',
	    barWidth: 4,
	    zeroColor: '#ffffff'});
    $("#house_hpvi").sparkline({{house_hpvi}}, {
	    type: 'bar',
	    height: '75px',
		barWidth: 4,
		zeroColor: '#ffffff'});
    $("#sen_pie").sparkline({{senate}}, {
	    type: 'pie',
	    width: '50px',
	    height: '50px',
	    borderColor: '#000000 '});
	$("#house_pie").sparkline({{house}}, {
	    type: 'pie',
	    width: '50px',
	    height: '50px',
	    borderColor: '#000000 '});
</script>
{% endblock %}
