{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  $(function() {
  	$( ".selected-chambers" ).button({
        icons: { primary: "ui-icon-triangle-1-e" }
      });
    $( ".chambers" ).button();
  });
</script>

<ul id="breadcrumbs-one">
    <li><a href='/bills'>bills</a></li>
    <li><a href="" class="current">{{session}}</a></li>
</ul>
<br>
{% if chamber=="senate" %}<a class="selected-chambers" href="/bills/{{path}}?q=senate">Senate</a> <a class="chambers" href="/bills/{{path}}?q=house">House</a>{% else %}<a class="chambers" href="/bills/{{path}}?q=senate">Senate</a> <a class="selected-chambers" href="/bills/{{path}}?q=house">House</a>{% endif %}

<div id='sort-methods'>
	sort: <a href="/bills/{{path}}?s=asc{% if chamber_name %}&q={{chamber}}{% endif %}">asc</a> | <a href="/bills/{{path}}?s=dec{% if chamber_name %}&q={{chamber}}{% endif %}">dec</a>
</div>
<br><br>
{% for b in bills %}
	{% if b[0].bill_id[0]==chamber_name[0] %}
		<div class="bill-summery-container"><div class="bill-summery-box"><a href="/bills/{{path}}/{{b[0].bill_id}}">{{b[0].bill_id[:2]}}<br><span style="font-weight:bold;">{{b[0].bill_id[3:]}}</span></a></div><div class="bill-summery-text">{{b[0].title}}</div></div>
	{% endif %}
{% endfor %}

{% endblock %}
