{% extends "base.html" %}

{% block content %}

<div class='breadcrumb'><a href='/legislators'>legislators</a> > {{legislator.first_name}} {{legislator.last_name}}</div>

<h2>
	{% if legislator.chamber=='lower' %}
	Representative 
	{% else %}
	Senator 
	{% endif %}
	{{legislator.first_name}} {% if legislator.nickname %}"{{legislator.nickname}}"{% endif %} {{legislator.last_name}}
</h2>
<table>
	<tr><td>
		{% if legislator.chamber=='lower' %}
			<img width="250px" src='{{legislator.photo_url}}'>
		{% else %}
			<img width="100px" src='{{legislator.photo_url}}'>
		{% endif %}
	</td><td>
<strong>{{legislator.party}}</strong><br><br>
<strong>District:</strong> {{legislator.district}}<br><br>
{% if legislator.email %}
	<strong>Email:</strong>{{legislator.email}}<br><br>
{% endif %}
{% if legislator.office_phone %}
	<strong>Office phone:</strong> {{legislator.office_phone}}<br><br>
{% endif %}
{% if legislator.chamber=='lower' %}
<strong>Committees:</strong>
	{% for c in legislator.roles %}
		<a href="/committees/{{c.committee_id}}">{{c.committee}}</a>
		{% if c.position and c.position!="member" %}
			- <em>{{c.position}}</em>
		{% endif %}
		<br>
	{% endfor %}
{% endif %}
</td></tr></table>

{% endblock %}
