{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
	$(function() {
	    $( "#committee-tabs" ).tabs();
	});
</script>
<h2>Minnesota Legislative Committees</h2>
<div id="committee-tabs"><ul>
	<li><a href="#committee-tabs-1">Senate</a></li>
    <li><a href="#committee-tabs-2">House</a></li></ul>
<div id="committee-tabs-1">
    <p>{% if committees %}{% for c in committees %}
			{% if c.chamber=='upper' %}{% if c.subcommittee %}<span style="margin-left:25px;">{% else %}<span>{% endif %}
				<a href='/committees/{{c.id}}'>{{c.committee}}{% if c.subcommittee %} - {{c.subcommittee}}{% endif %}</a></span><br>
			{% endif %}
		{% endfor %}{% endif %}
	</p>
</div>
<div id="committee-tabs-2">
    <p>{% if committees %}{% for c in committees %}
			{% if c.chamber=='lower' %}
				<a href='/committees/{{c.id}}'>{{c.committee}}</a><br>
			{% endif %}	
		{% endfor %}{% endif %}
    </p>
</div>
</div>
{% endblock %}
