{% extends "base.html" %}

{% block content %}

<a class="chambers" href="/legislators?q=senate">Senate</a>
<a class="chambers" href="/legislators?q=house">House</a>

<div style="display:inline; float:right;">
<form method="post">
	search for a legislator 
	<input placeholder="(autocomplete field)" id="legs" name='leg' />
	<input type="submit" name='submit' value="Search">
</form>
</div>

<table><tr><td width="400px" valign="top">
  <h3>{{chamber_name}} Democrats</h3>
  <section id="photos">
    {% for l in legislators %}{% if l.chamber==chamber and l.party[0]=='D' and l.photo_url %}<a href='/legislators/{{l.id}}'><img title="{{l.first_name}} {{l.last_name}}" alt="{{l.first_name}} {{l.last_name}}" src="{{l.photo_url}}" width="50px"></a>{% endif %}{% endfor %}
	</section>
</td><td width="400px" valign="top">
	<h3>{{chamber_name}} Republicans</h3>
  <section id="photos">
	 {% for l in legislators %}{% if l.chamber==chamber and l.party[0]=='R' and l.photo_url %}<a href='/legislators/{{l.id}}'><img title="{{l.first_name}} {{l.last_name}}" alt="{{l.first_name}} {{l.last_name}}" src="{{l.photo_url}}" width="50px"></a>{% endif %}{% endfor %}
  </section>
</td></tr></table>

{% endblock %}
